:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}


@font-face {
	font-family: ProximaNovaRegular;
	src: url(../fonts/Proxima_Nova_W01_Regular.woff2);
}

@font-face {
	font-family: ProximaNovaBold;
	src: url(../fonts/proximanova_bold.otf);
}

@font-face {
	font-family: Garamond;
	src: url(../fonts/ITCGaramondStd-Lt.woff2);
}

p {
	font-family: ProximaNovaRegular;
}

h2 {
	font-family: ProximaNovaBold;
}

h3 {
	font-family: ProximaNovaRegular;
	font-size: 0.8em;
	font-weight: lighter;
}

ul {
	list-style-type: none;
}

li {
	font-family: ProximaNovaRegular;
}


